<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Registration</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pattaya&family=Oswald&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{{ url_for('ic.static', filename='insertCards.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('ic.static', filename='Navbar.css') }}">

</head>
<body>

  <div class="nbar">
        <a href="/homepage">Home</a>
        <a href="/readCards">Events</a>
        <a href="/aboutus">About us</a>
        <a href="/contact">Contact us</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a class = "user" style = "color: #B31312; float: right"><img src = "static/user.png">{{Eusername}}</a>
    </div>

  <div class="container">
    <h1>Customer Event Registration</h1>
    <form action = "/createCard" method="post">
      <label for="eventname">Event Name:</label>
      <input type="text" id="eventname" name="Ename" required>

      <label for="Location">Location:</label>
      <input type="location" id="location" name="location" required>

      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required>

      <label for="time">Time:</label>
      <input type="time" id="time" name="time" required>

      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
